In [1]:
import pandas as pd 
import numpy as np 
import requests

In [2]:
# DeclarationEmissionHour
response = requests.get(
    url='https://api.energidataservice.dk/dataset/DeclarationGridEmission?start=2022-01-01T00:00&limit=400000')

result = response.json()

df = pd.json_normalize(result, 'records',
            errors='ignore')

In [3]:
df.head()

,HourUTC,HourDK,PriceArea,FuelAllocationMethod,Version,CO2originPerkWh,CO2PerkWh,CH4PerkWh,N2OPerkWh,TFactor,DFactor
0,2024-01-11T22:00:00,2024-01-11T23:00:00,DK1,125%,Preliminary,291.246739,229.424337,115.186377,3.061148,1.016756,1.046517
1,2024-01-11T22:00:00,2024-01-11T23:00:00,DK1,200%,Preliminary,336.921622,254.004250,143.914145,3.533309,1.016756,1.046517
2,2024-01-11T22:00:00,2024-01-11T23:00:00,DK1,Total,Preliminary,415.681315,296.126915,191.803992,4.355709,1.016756,1.046517
3,2024-01-11T22:00:00,2024-01-11T23:00:00,DK2,125%,Preliminary,336.488948,112.379591,49.261961,3.145666,1.021146,1.335879
4,2024-01-11T22:00:00,2024-01-11T23:00:00,DK2,200%,Preliminary,462.233692,128.356479,61.839067,4.303630,1.021146,1.335879

In [4]:
df = df[df['FuelAllocationMethod']=='125%']
df = df[['HourDK', 'PriceArea', 'FuelAllocationMethod', 'CO2PerkWh']]

In [5]:
# df['Miny_co2.head()utes5DK'] = pd.to_datetime(df['Minutes5DK'])
# df['HourDK'] = df['Minutes5DK'].dt.round('H')
# mean_hourly_co2 = df.groupby(['HourDK', 'PriceArea'])['CO2Emission'].mean().reset_index()
# mean_hourl

In [6]:
df.to_csv('DeclarationEmissionHour.csv', index=False)

In [7]:
df['HourDK'].min()

'2022-01-01T00:00:00'

In [8]:
df.shape

(35568, 4)